.knowledge-main-container {

    .knowledge-article-header {
        line-height: 20px;
        font-family: 'Montserrat', Regular;
        font-size: 14px;
        color: #3F3F3F;
        line-height: 20px;
        margin: 20px 0 20px 0;
    }

    .knowledge-article-text {
        line-height: 20px;
        font-family: 'Montserrat', Regular;
        font-size: 14px;
        color: #3F3F3F;
        line-height: 20px;
        margin: 20px 0 20px 0;
    }

}